@keyframes nit {
    0%{
        /* transform: rotateX(25deg) rotateY(deg); */
    }
    100%{
        transform: rotateX(360deg);
    }
}
body{
  height: 100vh;
  width: 100vw;
  background-image: url("img_1.jpg");
  background-size: cover;
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;
}
.cube {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 100px;
  left: 20%;
  transform-style: preserve-3d;
  perspective: 2000px;
  transform: rotateX(25deg) rotateY(-25deg);
  animation: nit 5s ease-in-out alternate infinite;
}
.face {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 20%;
  transition: all 1s;
}
.one {
  background-color: skyblue;
  transform: translateZ(0px);
}
.two {
  background-color: orange;
  transform: rotateY(90deg) translate(100px) translateZ(100px);
}
.three{
    background-color: yellow;
    transform: rotateY(-90deg) translate(-100px) translateZ(100px);
}
.four{
    background-color: gray;
    transform: rotateX(90deg) translateZ(100px) translateY(-100px);
}
.five{
    background-color: green;
    transform: translateZ(-200px);
}
.six{
    background-color: red;
    transform: rotateX(90deg) translateY(-100px) translateZ(-100px);
}
